@page "/game"

@using System.Drawing;
@using TwentyOne.Services;
@using TwentyOne.Models;
@using TwentyOne.Pages.Partials;
@inject IJSRuntime jsRuntime
@inject IDialogService DialogService

<PageTitle>Twenty One</PageTitle>

<audio id="CardShuffle"><source src="/sounds/CardShuffle1.mp3" /></audio>
<audio id="CardFlip"><source src="/sounds/CardFlip1.mp3" /></audio>

<h1>Twenty One</h1>
<div>
    <div style="position:center;">
        <img class="card-image" src="@($"images/decks/default/deck.jpg")" />
    </div>
    <br />
</div>
<div class="player-heading">Dealer</div>
<div class="@(twentyOneGameService.DealerHand.IsBust ? "player-score-error" : "player-score")">@((twentyOneGameService.DealerHand.IsDone) ? twentyOneGameService.DealerHand?.Score.ToString() : "___")<br />
</div>
<br />
<div class="cardcontainer">
    @if (twentyOneGameService.DealerHand != null)
    {
        @foreach (var card in twentyOneGameService.DealerHand.Cards)
        {
            <CardPartialView card="card" />
        }
    }
    else
    {
        <div class="one"></div>
    }
</div>

<div id="DealerPlayerSeparator">
    <div><hr class="hrseparator" /></div>
    <div class="dealerseparatorparent">
        <div class="dealerseparatortext">Dealer must stand on 17 and draw to 16</div>
    </div>
    <div><hr class="hrseparator" /></div>
</div>

<div class="player-heading">Player</div>
<div class="@(twentyOneGameService.PlayerHand.IsBust ? "player-score-error" : "player-score")">@(twentyOneGameService.PlayerHand?.Score.ToString())<br /></div>
<br />
<div class="cardcontainer">
    @if (twentyOneGameService.PlayerHand != null)
    {
        @foreach (var card in twentyOneGameService.PlayerHand.Cards)
        {
            <CardPartialView card="card" />
        }
        @if (twentyOneGameService.PlayerHand.IsBust)
        {
            <div class="overlay2">BUST!</div>
        }
    }
</div>

<div>
    <br />
</div>

<div style="align-content:center;justify-content:center;display:flex;">
    <br />
    <br />
    <MudButton id="newGameButton" Variant="Variant.Filled" Style="background-color:gold" hidden=@HideNewGameButton Disabled=@IsLoading @onclick="NewGame">New Game</MudButton>
    &nbsp;
    <MudButton id="hitMeButton" Variant="Variant.Filled" Style="background-color:gold" hidden=@HidePlayerButtons Disabled=@IsLoading @onclick="HitMe">Hit Me!</MudButton>
    &nbsp;
    <MudButton id="standButton" Variant="Variant.Filled" Style="background-color:gold" hidden=@HidePlayerButtons Disabled=@IsLoading @onclick="Stand">Stand</MudButton>
</div>

