@using TwentyOne.Models;

@namespace TwentyOne.Pages.Partials

@code
{
    [Parameter]
    public Card card { get; set; }
}

@if (card.IsVisible)
{
    <div class="flip-card">
        <div class="flip-card-inner" id="@String.Format("cardInner_{0}", card.UniqueID)">
            <div class="flip-card-front">
                <img src="@($"images/decks/default/{card.GetImageName}")" />
            </div>
            <div class="flip-card-back" id="@String.Format("cardBack_{0}", card.UniqueID)">
                <img src="@($"images/decks/default/{card.GetImageNameForBack}")" />
            </div>
        </div>
    </div>
}
else
{
    <div class="flip-card-back">
        <img src="@($"images/decks/default/{card.GetImageNameForBack}")" />
    </div>
}
